<%- include("partials/header") %>

<div class="container post-content mt-4">
  <h1 style="color: #1abc9c;"><%= postTitle %></h1>
  <p class="lead mt-4"><%= postContent %></p>  
</div>

<%- include("partials/footer") %>